* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
}

body {
  color: #222;
  font: 100%/1.5 "fira sans", sans-serif;
}

p {
  max-width: 35em;
  margin: 0 auto;
  margin-bottom: 1.5em;
}